<div
    class="straight-image-block--mobile"
    @touchstart="getTouchStart"
    @touchmove="touchmove"
    @touchend="getTouchEnd"
>
    <div
      class="image-block"
      v-for="imageDataNumber in imageNumber"
      :key="`${modelData.id}_${modelData.title}_${imageDataNumber}`"
      :style="{ 'z-index': firstImageNum === imageDataNumber ? '99' : '1' }"
    >
      <img
        :src="
          require(`@/assets/modelImage/${modelData.id}${imageDataNumber}.jpg`)
        "
      />
    </div>
</div>